<div class="blog-post">
  <h2 class="blog-post-title">
    <%= link_to blog.title.upcase, blog %>
  </h2>
  <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>

  <hr>
  <p>
    <%= markdown blog.body %>
  </p>

  <p class="blog-post-meta posted-date">
    Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago
  </p>

   </a>

</div>
