<h1>Would like to work together?</h1>

<p>Email: <%= mail_to "Kanji.yy@gmail.com" %> </p>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d166655.30967868783!2d-123.26433014981863!3d49.257650355870396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673f143a94fb3%3A0xbb9196ea9b81f38b!2sVancouver%2C+BC%2C+Canada!5e0!3m2!1sen!2sus!4v1493231238286" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

