<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>

  <div class="inner cover">
    <h1 class="cover-heading home-title">Keep it simple.</h1>

    <p class="lead home-typing typing"></p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

<script type="text/javascript" src="javascripts/typewriter.js"></script>