@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444;
  background-color: #f7f7f7
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #333;
}

a {
  color: #0C555D;
  transition: all 150ms;
}

a:hover {
  color: #DE4830;
  -webkit-transition: color 150ms;
  -moz-transition: color 150ms;
  -ms-transition: color 150ms;
  -o-transition: color 150ms;
  transition: color 150ms;
  text-decoration: none;
}

/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
  width: 90%;

}

html .layout,
body .layout {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.layout {
  opacity: 0;
  -webkit-transition: 1.7s opacity ease;
  transition: 1.7s opacity ease;
}

.layout.fade-in {
  opacity: 1;
}

.scroll-top {
  background: #0C555D;
  border-radius: 2px;
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 50px;
  width: 50px;
  z-index: 9;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: #fff;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  -webkit-transform: translateY(86px);
  transform: translateY(86px);
}

.scroll-top:hover,
.scroll-top:focus {
  color: #fff;
}

.scroll-top.scroll-top-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

@media (max-width: 767px) {
  .scroll-top {
    display: none;
  }
}


/*------------------------------------------------------------------
[Header & Navigation]
*/

.off-canvas-sidebar-open .header {
  left: -270px;
}

.header {
  background: transparent;
  position: fixed;
  z-index: 1040;
  height: 81px;
  width: 100%;
  padding: 0 40px;
  left: 0;
  -webkit-transition: height .3s ease-out,
  background .3s ease-out,
  box-shadow .5s,
  left .2s cubic-bezier(.645, .045, .355, 1),
  -webkit-transform .5s;
  transition: height .3s ease-out,
  background .3s ease-out,
  box-shadow .5s,
  left .2s cubic-bezier(.645, .045, .355, 1),
  -webkit-transform .5s;
  transition: height .3s ease-out,
  background .3s ease-out,
  transform .5s,
  box-shadow .5s,
  left .2s cubic-bezier(.645, .045, .355, 1);
  transition: height .3s ease-out,
  background .3s ease-out,
  transform .5s,
  box-shadow .5s,
  left .2s cubic-bezier(.645, .045, .355, 1),
  -webkit-transform .5s;
  box-shadow: none;
  font-family: "Poppins", Arial, serif;
  border-bottom: 1px solid rgba(220, 220, 220, .2);
}

.header.header-small {
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.header.header-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  height: 61px;
}

.header.header-center .inner-nav {
  text-align: center;
}

.header.header-right .inner-nav {
  text-align: right;
}

.header.header-right .extra-nav {
  min-width: auto;
  max-width: auto;
}

.header .container,
.header .container-fluid {
  position: relative;
  display: table;
  height: 100%;
}

.header .brand-light {
  display: none;
}

.inner-nav {
  position: relative;
}

.extra-nav,
.inner-header {
  min-width: 120px;
  max-width: 120px;
  overflow: hidden;
  vertical-align: middle;
}

.header-color-default a {
  color: #fff !important;
}

.header-color-default a:hover {
  color: #fff !important;
  opacity: 0.5 !important;
}

.extra-nav a {
  color: #303133;
}

.extra-nav a:hover {
  color: #303133;
  opacity: 0.5;
}


.nav-toogle,
.inner-header,
.inner-navigation {
  display: table-cell;
  height: 100%;
}

.inner-brand {
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 20px;
  line-height: 10px;
}

.inner-nav,
.inner-navigation {
  width: 100%;
}

.inner-navigation-inline {
  display: inline-table;
  height: 100%;
  width: 100%;
}

.inner-nav,
.extra-nav {
  display: table-cell;
  height: 100%;
}

.extra-nav {
  text-align: right;
  white-space: nowrap;
}

.nav-toogle {
  display: none;
}

.nav-toogle > a {
  display: block;
  height: 14px;
  width: 18px;
  float: right;
}

.nav-toogle > a span {
  background: #313131;
  display: block;
  height: 2px;
  width: 100%;
}

.nav-toogle > a span:nth-child(2),
.nav-toogle > a span:nth-child(3) {
  margin-top: 4px;
}

.inner-nav > ul,
.extra-nav > ul {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

.inner-nav > ul > li,
.extra-nav > ul > li {
  position: relative;
  display: inline-block;
  height: 100%;
  margin: 0 24px 0 0;
}

.inner-nav > ul > li:last-child,
.extra-nav > ul > li:last-child {
  margin-right: 0;
}

.inner-nav > ul > li > a,
.extra-nav > ul > li > a {
  display: block;
  text-transform: uppercase;
  letter-spacing: .7px;
  line-height: 24px;
  font-weight: 600;
  font-size: 12px;
  height: 100%;
}

.inner-nav > ul > li > a::after,
.inner-nav > ul > li > a::before,
.extra-nav > ul > li > a::after,
.extra-nav > ul > li > a::before {
  content: "";
  display: block;
  height: 50%;
  height: calc(50% - 12px);
}

.extra-nav > ul > li:first-child {
  padding-left: 24px;
}

.extra-nav > ul > li > a > .fa {
  margin-left: 10px;
}

.inner-nav > ul > li > .nav-btn .btn {
  letter-spacing: .7px;
  font-size: 12px;
  padding: 12px 24px;
}

.inner-nav > ul > li > .nav-btn .btn:hover,
.inner-nav > ul > li > .nav-btn .btn:focus {
  opacity: 1;
}

.inner-nav > ul > li > .nav-btn::after,
.inner-nav > ul > li > .nav-btn::before {
  content: "";
  display: block;
  height: 50%;
  height: calc(50% - 23px);
}

.inner-nav > ul > li.menu-item-has-children > .sub-menu,
.inner-nav > ul > li.menu-item-has-children > .mega-menu {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: opacity .4s ease 0s, visibility .4s linear 0s, -webkit-transform .4s ease 0s;
  transition: opacity .4s ease 0s, visibility .4s linear 0s, -webkit-transform .4s ease 0s;
  transition: opacity .4s ease 0s, transform .4s ease 0s, visibility .4s linear 0s;
  transition: opacity .4s ease 0s,
  transform .4s ease 0s,
  visibility .4s linear 0s,
  -webkit-transform .4s ease 0s;
}

.inner-nav > ul > li.menu-item-has-children.sub-menu-open > .sub-menu,
.inner-nav > ul > li.menu-item-has-children.sub-menu-open > .mega-menu {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.inner-nav .sub-menu,
.inner-nav .mega-menu {
  background-color: #fff;
  position: absolute;
  min-width: 160px;
  left: -20px;
  opacity: 0;
  z-index: 1030;
  visibility: hidden;
  top: 100%;
  text-align: left;
  box-shadow: 0 14px 32px 4px rgba(0, 0, 0, .1);
}

.inner-nav .sub-menu {
  list-style: none;
  padding: 10px 0;
}

.inner-nav .sub-menu .sub-menu {
  left: 100%;
  top: -10px;
}

.inner-nav .sub-menu li {
  position: relative;
  margin: 0;
}

.inner-nav .sub-menu li.mega-menu-col > a {
  color: #000;
  font-weight: 600;
}

.inner-nav .sub-menu li a {
  position: relative;
  display: block;
  padding: 8px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 12px;
  color: #999;
}

.inner-nav .sub-menu li a:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  color: #777;
}

.inner-nav .sub-menu li a > .fa {
  margin-right: 6px;
  text-align: center;
  font-size: 14px;
  width: 18px;
}

.inner-nav .sub-menu li:hover::after {
  color: #777;
}

.inner-nav .mega-menu {
  white-space: nowrap;
  padding: 0;
}

.inner-nav .mega-menu .sub-menu {
  box-shadow: none;
  left: 0;
}

.inner-nav .mega-menu .sub-menu + .sub-menu {
  padding-top: 0;
}

.inner-nav .mega-menu .sub-menu .sub-menu {
  padding: 15px 0 0;
}

.inner-nav .sub-menu.mega-menu-row {
  padding: 0 5px;
}

.inner-nav .mega-menu .sub-menu {
  position: relative;
}

.inner-nav .mega-menu .sub-menu .sub-menu {
  left: auto;
}

.inner-nav .mega-menu .sub-menu .mega-menu-col {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  width: 210px;
}

.inner-nav .mega-menu .sub-menu .mega-menu-col > a {
  pointer-events: none;
  cursor: default;
}

.inner-nav .sub-menu .menu-item-has-children::after {
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 13px;
  content: "\f105";
  color: #999;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.inner-nav .sub-menu .menu-item-has-children.mega-menu-col::after {
  content: "";
  display: none;
}

.inner-nav .sub-menu-open > .sub-menu,
.inner-nav .sub-menu-open > .mega-menu,
.inner-nav .sub-menu-open > .mega-menu .sub-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.mega-menu.sub-menu-left {
  left: auto;
  right: 0;
}

.header .brand-dark,
.header.header-light.header-small .brand-dark {
  display: inline-block;
}

.header .brand-light,
.header.header-light.header-small .brand-light {
  display: none;
}

.header .inner-nav > ul > li > a,
.header .extra-nav > ul > li > a,
.header.header-light.header-small .inner-nav > ul > li > a,
.header.header-light.header-small .extra-nav > ul > li > a {
  color: #303133;
}

.header .inner-nav > ul > li > a.active,
.header .inner-nav > ul > li > a:hover,
.header .inner-nav > ul > li > a:focus,
.header .extra-nav > ul > li > a.active,
.header .extra-nav > ul > li > a:hover,
.header .extra-nav > ul > li > a:focus,
.header.header-light.header-small .inner-nav > ul > li > a.active,
.header.header-light.header-small .inner-nav > ul > li > a:hover,
.header.header-light.header-small .inner-nav > ul > li > a:focus,
.header.header-light.header-small .extra-nav > ul > li > a.active,
.header.header-light.header-small .extra-nav > ul > li > a:hover,
.header.header-light.header-small .extra-nav > ul > li > a:focus {
  opacity: .5;
}

.header .inner-nav > ul > li.sub-menu-open > a,
.header .extra-nav > ul > li.sub-menu-open > a,
.header.header-light.header-small .inner-nav > ul > li.sub-menu-open > a,
.header.header-light.header-small .extra-nav > ul > li.sub-menu-open > a {
  opacity: .5;
}

.header.header-light .brand-dark {
  display: none;
}

.header.header-light .brand-light {
  display: inline-block;
}

.header.header-light .inner-nav > ul > li > a,
.header.header-light .extra-nav > ul > li > a {
  color: #fff;
}

.header.header-light .inner-nav > ul > li > a.active,
.header.header-light .inner-nav > ul > li > a:hover,
.header.header-light .inner-nav > ul > li > a:focus,
.header.header-light .extra-nav > ul > li > a.active,
.header.header-light .extra-nav > ul > li > a:hover,
.header.header-light .extra-nav > ul > li > a:focus {
  opacity: .5;
}

.header.header-light .inner-nav > ul > li.sub-menu-open > a,
.header.header-light .extra-nav > ul > li.sub-menu-open > a {
  opacity: .5;
}

@media (min-width: 992px) {
  .inner-navigation.collapse {
    display: table-cell !important;
  }
}

@media (max-width: 991px) {
  .header {
    background-color: #fff;
    padding: 0;
  }

  .header .container,
  .header .container-fluid {
    width: 100%;
    padding: 0 30px;
  }

  .header.header-right .inner-nav,
  .header.header-center .inner-nav {
    text-align: left;
  }

  .nav-toogle {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }

  .inner-nav,
  .inner-navigation,
  .inner-navigation-inline {
    height: auto;
  }

  .inner-nav {
    display: block;
  }

  .extra-nav {
    display: none;
  }

  .inner-nav ul > li,
  .inner-nav .sub-menu li {
    display: block;
    height: auto;
    margin: 0;
  }

  .inner-nav ul > li a,
  .inner-nav .sub-menu li a {
    position: relative;
    display: block;
    text-transform: uppercase;
    letter-spacing: .7px;
    line-height: 24px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    padding: 8px 0;
  }

  .inner-nav ul > li a:hover,
  .inner-nav ul > li a:focus,
  .inner-nav .sub-menu li a:hover,
  .inner-nav .sub-menu li a:focus {
    opacity: .8;
    color: #fff;
  }

  .inner-nav ul > li a::after,
  .inner-nav ul > li a::before,
  .inner-nav .sub-menu li a::after,
  .inner-nav .sub-menu li a::before {
    content: none;
  }

  .inner-nav .sub-menu li a:hover {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .inner-nav .sub-menu li.mega-menu-col > a {
    color: #fff;
  }

  .inner-nav .sub-menu li.mega-menu-col > a::after {
    content: none;
  }

  .inner-nav li.menu-item-has-children > a::after {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    font-size: 13px;
    content: "\f107";
    color: #999;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .inner-nav .sub-menu .menu-item-has-children::after {
    display: none;
    content: "";
  }

  .inner-navigation {
    position: absolute;
    background-color: #1b1d1f;
    max-height: 340px;
    width: 100%;
    left: 0;
    top: 100%;
  }

  .inner-navigation.show {
    overflow-y: auto;
  }

  .inner-navigation.collapse {
    display: none;
  }

  .inner-navigation.collapse.show {
    display: block;
  }

  .inner-navigation.collapsing {
    height: 0;
    -webkit-transition: height .35s ease;
    transition: height .35s ease;
  }

  .inner-navigation-inline {
    padding: 30px;
    display: block;
  }

  .inner-nav .sub-menu,
  .inner-nav .mega-menu {
    box-shadow: none;
  }

  .inner-nav .sub-menu,
  .inner-nav .sub-menu .sub-menu,
  .inner-nav .mega-menu {
    border: 0;
    background: transparent;
    background-image: none !important;
    display: none;
    padding: 0 0 0 8px;
    margin: 0;
  }

  .inner-nav .sub-menu .menu-item-has-children.sub-menu-open > a,
  .inner-nav .sub-menu .sub-menu .menu-item-has-children.sub-menu-open > a,
  .inner-nav .mega-menu .menu-item-has-children.sub-menu-open > a {
    background: transparent;
  }

  .inner-nav .sub-menu-open > .sub-menu,
  .inner-nav .sub-menu-open > .mega-menu,
  .inner-nav .sub-menu-open > .mega-menu .sub-menu,
  .inner-nav .mega-menu .sub-menu .mega-menu-col {
    position: static;
    display: block !important;
  }

  .inner-nav .mega-menu .sub-menu .sub-menu {
    padding: 0;
  }

  .inner-nav .mega-menu .sub-menu .mega-menu-col {
    width: auto;
    padding: 0;
  }

  .inner-nav .mega-menu > li:not(:last-child) {
    border: 0;
  }

  .inner-nav .mega-menu li {
    display: block;
    width: 100%;
    padding: 0;
  }

  .header .brand-dark,
  .header.header-light .brand-dark,
  .header.header-small .brand-dark,
  .header.header-light.header-small .brand-dark {
    display: inline-block;
  }

  .header .brand-light,
  .header.header-light .brand-light,
  .header.header-small .brand-light,
  .header.header-light.header-small .brand-light {
    display: none;
  }

  .header .inner-nav > ul > li > a,
  .header.header-light .inner-nav > ul > li > a,
  .header.header-small .inner-nav > ul > li > a,
  .header.header-light.header-small .inner-nav > ul > li > a {
    color: #fff;
  }

  .header .inner-nav > ul > li > a:hover,
  .header .inner-nav > ul > li > a:focus,
  .header.header-light .inner-nav > ul > li > a:hover,
  .header.header-light .inner-nav > ul > li > a:focus,
  .header.header-small .inner-nav > ul > li > a:hover,
  .header.header-small .inner-nav > ul > li > a:focus,
  .header.header-light.header-small .inner-nav > ul > li > a:hover,
  .header.header-light.header-small .inner-nav > ul > li > a:focus {
    opacity: .5;
  }
}

@media (max-width: 767px) {
  .inner-navigation-inline {
    display: block;
  }
}


/*------------------------------------------------------------------
[Footer]
*/

.footer {
  position: relative;
  background: #1b1d1f;
  color: #bfbfbf;
  padding: 60px 0 0;
}

.footer a {
  color: #fff;
}

.footer a:hover,
.footer a:focus {
  color: #fff;
  opacity: .7;
}

.footer h1,
.footer .h1,
.footer h2,
.footer .h2,
.footer h3,
.footer .h3,
.footer h4,
.footer .h4,
.footer h5,
.footer .h5,
.footer h6,
.footer .h6 {
  color: #fff;
}

.footer .copyright {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 11px;
  margin: 0;
}

.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, .05);
  padding: 20px 0;
}


#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('background-sub.jpg') no-repeat;
  background-size: cover;
}mm

/*------------------------------------------------------------------
[Offcanvas]
*/

body:after {
  background: rgba(0, 0, 0, .7);
  position: fixed;
  height: 1px;
  width: 1px;
  bottom: 0;
  right: 0;
  left: 0;
  top: -1px;
  z-index: 9998;
  content: " ";
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s cubic-bezier(.785, .135, .15, .86);
  transition: opacity .2s cubic-bezier(.785, .135, .15, .86);
  cursor: pointer;
  cursor: url("../images/close.png"), pointer;
}

body.off-canvas-sidebar-open:after {
  visibility: visible;
  height: 100%;
  width: 100%;
  opacity: 1;
  top: 0;
}

.layout {
  position: relative;
  -webkit-transition: left .2s cubic-bezier(.645, .045, .355, 1), 1.7s opacity ease;
  transition: left .2s cubic-bezier(.645, .045, .355, 1), 1.7s opacity ease;
  left: 0;
}

body.off-canvas-sidebar-open .layout {
  left: -270px;
}

.off-canvas-sidebar-open .off-canvas-sidebar {
  -webkit-transform: translateX(-425px);
  transform: translateX(-425px);
}

.off-canvas-sidebar {
  background: #1b1d1f;
  position: fixed;
  right: -425px;
  top: 0;
  height: 100%;
  width: 425px;
  z-index: 999999;
  -webkit-transition: -webkit-transform .2s cubic-bezier(.645, .045, .355, 1);
  transition: -webkit-transform .2s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1);
  transition: transform .2s cubic-bezier(.645, .045, .355, 1),
  -webkit-transform .2s cubic-bezier(.645, .045, .355, 1);
}

.off-canvas-sidebar h1,
.off-canvas-sidebar .h1,
.off-canvas-sidebar h2,
.off-canvas-sidebar .h2,
.off-canvas-sidebar h3,
.off-canvas-sidebar .h3,
.off-canvas-sidebar h4,
.off-canvas-sidebar .h4,
.off-canvas-sidebar h5,
.off-canvas-sidebar .h5,
.off-canvas-sidebar h6,
.off-canvas-sidebar .h6 {
  color: #fff;
}

.off-canvas-sidebar a {
  color: #fff;
}

.off-canvas-sidebar a:hover,
.off-canvas-sidebar a:focus {
  color: #fff;
  opacity: .7;
}

.off-canvas-sidebar-wrapper {
  width: auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.off-canvas-header,
.off-canvas-content {
  padding-right: 30px;
  padding-left: 30px;
}

.off-canvas-content {
  padding-bottom: 30px;
}

.off-canvas-header {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: right;
}

.close-offcanvas {
  font-size: 24px;
}

.off-canvas-sidebar a,
.off-canvas-sidebar .widget a {
  color: #fff;
}

.off-canvas-sidebar a:hover,
.off-canvas-sidebar a:focus,
.off-canvas-sidebar .widget a:hover,
.off-canvas-sidebar .widget a:focus {
  color: #fff;
  opacity: .7;
}

.off-canvas-sidebar .social-icons {
  text-align: center;
}

.off-canvas-sidebar .social-icons > li {
  margin: 5px 10px 0;
}

.off-canvas-sidebar .social-icons a {
  color: #999;
}

.off-canvas-sidebar .social-icons a:hover,
.off-canvas-sidebar .social-icons a:focus {
  color: #fff;
}

/*------------------------------------------------------------------
[Widgets]
*/

.widget {
  margin: 0 0 50px;
}

.widget .widget-title {
  border-bottom: 1px solid rgba(238, 238, 238, .9);
  padding: 0 0 20px;
  margin: 0 0 25px;
}

.widget .widget-title h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 0;
}

.widget ul,
.widget ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget ul li,
.widget ol li {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(238, 238, 238, .9);
  padding-bottom: 10px;
}

.widget ul li:last-child,
.widget ol li:last-child {
  border: 0;
}

.widget a {
  color: #999;
}

.widget a:hover,
.widget a:focus {
  color: #4a90e2;
}

.widget input,
.widget select {
  width: 100%;
  box-shadow: none;
  border-radius: 2px;
  border-width: 1px;
  border-color: #eee;
  font-family: "Poppins", Arial, serif;
  text-transform: uppercase;
  letter-spacing: .09375rem;
  font-size: .625rem;
  padding: 1rem .9375rem;
}

/* --- [ Search Widget ] --- */

.widget_search form {
  position: relative;
}

.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -2px;
  height: 100%;
  right: 10px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #ddd;
}

.search-button:focus,
.search-button.focus,
.search-button.active.focus,
.search-button.active:focus,
.search-button:active.focus,
.search-button:active:focus {
  outline: 0;
}

.search-button:hover {
  color: #4a90e2;
}

.widget_archive ul li a,
.widget_categories ul li a {
  margin-right: 5px;
}

.widget_recent_works,
.widget_recent_entries a,
.widget_recent_entries_custom a {
  color: #313131;
}

.widget_recent_works img,
.widget_recent_entries a img,
.widget_recent_entries_custom a img {
  border-radius: 3px;
}

.post-date {
  font-size: 12px;
  display: block;
  opacity: .7;
}

.widget_recent_entries_custom ul li {
  display: table;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.widget_recent_entries_custom .wi,
.widget_recent_entries_custom .wb {
  vertical-align: middle;
  display: table-cell;
}

.widget_recent_entries_custom .wi {
  float: left;
  width: 74px;
}

.widget_recent_entries_custom .wi img {
  width: 100%;
}

.widget_recent_entries_custom .wb {
  padding-left: 18px;
  width: 100%;
}

/* --- [ Resent Works Widget ] --- */

.widget_recent_works > ul {
  margin: 0 -5px;
}

.widget_recent_works > ul:before,
.widget_recent_works > ul:after {
  content: " ";
  display: table;
}

.widget_recent_works > ul:after {
  clear: both;
}

.widget_recent_works > ul > li {
  border: 0 !important;
  float: left;
  width: 33.333%;
  padding: 5px;
  margin: 0;
}

.widget_recent_works > ul > li > a:hover {
  opacity: .5;
}

/* --- [ Tags Widget ] --- */

.widget_tag_cloud .tagcloud > a {
  background: #f2f2f2;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  padding: 2px 15px;
  margin: 5px 10px 5px 0;
  height: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 7px;
  color: #111;
}

.widget_tag_cloud .tagcloud > a:hover {
  background: #4a90e2;
  color: #fff;
  opacity: 1;
}

/* --- [ Twitter Feed Widget ] --- */

.twitter-feed-widget ul > li {
  border: 0;
}

.twitter-feed-widget ul > li img {
  display: none;
}

.twitter-feed-widget ul > li:last-child {
  padding: 0;
  margin: 0;
}

.twitter-feed-widget .timePosted {
  font-size: 12px;
  opacity: .7;
  margin: 2px 0 0;
}

.twitter-feed-widget .tweet {
  word-wrap: break-word;
  margin: 0;
}

.twitter-feed-widget .user,
.twitter-feed-widget .interact {
  display: none;
}

/* --- [ Сalendar widget ] --- */

.calendar_wrap,
.calendar_wrap table {
  width: 100%;
}

.calendar_wrap caption {
  text-align: right;
  color: #333;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.calendar_wrap thead {
  font-size: 10px;
}

.calendar_wrap thead th {
  padding-bottom: 10px;
  text-align: center;
}

.calendar_wrap tbody {
  color: #aaa;
}

.calendar_wrap tbody td {
  background: #f5f5f5;
  border: 1px solid #fff;
  text-align: center;
  padding: 8px;
}

.calendar_wrap tbody td:hover {
  background: #fff;
}

.calendar_wrap tbody .pad {
  background: none;
}

.calendar_wrap tfoot #next,
.calendar_wrap tfoot #prev {
  text-transform: uppercase;
  font-size: 10px;
}

.calendar_wrap tfoot #next {
  text-align: right;
}

.calendar_wrap tfoot #prev {
  padding-top: 10px;
}


/* --- [ Navmenu widget ] --- */

.widget_nav_menu ul li {
  border: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-family: "Poppins", Arial, serif;
  line-height: 1.2;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

.widget_nav_menu .sub-menu {
  padding: 30px 0 0;
}

.widget_nav_menu .sub-menu li {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.widget_nav_menu .sub-menu li:last-child {
  padding-bottom: 0;
}

.footer .widget ul li,
.footer .widget ol li,
.footer .widget .widget-title,
.off-canvas-cart .widget ul li,
.off-canvas-cart .widget ol li,
.off-canvas-cart .widget .widget-title {
  border-color: rgba(255, 255, 255, .05);
}

.footer .widget_tag_cloud .tagcloud > a,
.off-canvas-cart .widget_tag_cloud .tagcloud > a {
  background: transparent;
  border: 1px solid #f2f2f2;
  color: #fff;
}

.footer .widget_tag_cloud .tagcloud > a:hover,
.off-canvas-cart .widget_tag_cloud .tagcloud > a:hover {
  background-color: #4a90e2;
  border-color: #4a90e2;
}

  /* Active state gets a caret at the bottom */
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: white;
  opacity: 1.0;
}

.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  min-height: 280px;
  padding: 5rem 0 3rem;
  border-bottom: .05rem solid #eee;
  background: url("https://s3.ca-central-1.amazonaws.com/kanji-portfolio-bucket/uploads/background-image/blog-background.jpg") no-repeat fixed center;
  background-size: cover;
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width:500px) {
  .blog-header {
    min-height: 200px;
    padding: 4rem 0 0rem;
  }
}

@media screen and (max-width:400px) {
  .blog-header {
    min-height: 200px;
    padding: 5rem 0 3rem;
  }
}


.blog-title {
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: normal;
    color: #0C555D;
}

.blog-title a:hover {
  color: #0C555D;
  opacity: 0.7;
}

.blog-description {
  font-size: 1.1rem;
  color: #666;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 20px 25px 7px;
  margin-bottom: 2rem;
  box-shadow: 0 6px 5px -6px #777;
  background-color: #fff;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.0rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  margin-top: 20px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #fff;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Custom
 */


.social-link li {
  font-size: 2.5em;
}

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  margin-top: 10px;
  font-size: .8em;
  color: #888;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}

.topic-item {
  margin-top: 15px;
}

.topic-item > .btn {
  padding: 20px;
  width: 200px;
  color: #777;
}

.topic-item > .btn:hover {
  color: #fff;
  background: #428bca;
}

.posted-date {
  margin: 0;
  text-align: right;
}

.blogcrumb a {
  font-size: 1.3em;
  margin: 0 5px 0;
  text-align: right;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-button {
  padding: 0.9em;
}

.nav-button:hover {
  border: solid 1px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/*
 * Contents
 */

.code {
  padding: 16px 16px 0;
  margin-bottom: 20px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  }


