@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #333;
}

a {
  color: #0C555D;
  transition: all 150ms;
}

a:hover {
  color: #DE4830;
  -webkit-transition: color 150ms;
  -moz-transition: color 150ms;
  -ms-transition: color 150ms;
  -o-transition: color 150ms;
  transition: color 150ms;
  text-decoration: none;
}

/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
  width: 90%;
}


/*
 * Masthead for nav
 */

.bg-faded {
  background-color: #292b2c;
}

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
  box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: white;
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  opacity: 0.7;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white;
  opacity: 1.0;
}


.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: white;
  opacity: 1.0;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover, .navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
  color: white;
  opacity: 1.0;
}

  /* Active state gets a caret at the bottom */
.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: white;
  opacity: 1.0;
}

.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 20px 25px 7px;
  margin-bottom: 2rem;
  box-shadow: 0 6px 5px -6px #777;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.0rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  margin-top: 20px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


/*
 * Custom
 */


.social-link li {
  font-size: 2.5em;
}

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  margin-top: 10px;
  font-size: .8em;
  color: #888;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}

.topic-item {
  margin-top: 15px;
}

.topic-item > .btn {
  padding: 20px;
  width: 200px;
  color: #777;
}

.topic-item > .btn:hover {
  color: #fff;
  background: #428bca;
}

.posted-date {
  margin: 0;
  text-align: right;
}

.blogcrumb a {
  font-size: 1.3em;
  margin: 0 5px 0;
  text-align: right;
}

.blog-nav {
  margin-bottom: 40px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-button {
  padding: 0.9em;
}

.nav-button:hover {
  border: solid 1px rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/*
 * Contents
 */

.code {
  padding: 16px 16px 0;
  margin-bottom: 20px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  }


